
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
         
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CovCenter
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/addcovcenter">Add Cov Center</a></li>
            <li><a class="dropdown-item" routerLink="/covidcenter">View Covid Centers</a></li>
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CovCenter Department
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/add/covidcenter/department">Add Cov Center Department</a></li>
            <li><a class="dropdown-item" routerLink="/covidcenter/department">View Covid Center Department</a></li>
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CovCenter Ward Type
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/add/covidcenter/wardtype">Add Cov Center Ward Type</a></li>
            <li><a class="dropdown-item" routerLink="/covidcenter/wardtype">View Covid Center Ward Type</a></li>
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CovCenter Ward            
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/add/covidcenter/ward">Add Cov Center Ward </a></li>
            <li><a class="dropdown-item" routerLink="/covidcenter/wards">View Covid Center Ward </a></li>
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CovCenter Beds            
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/add/covidcenter/bed">Add Cov Center Bed </a></li>
            <li><a class="dropdown-item" routerLink="/covidcenter/bed">View Covid Center Bed </a></li>
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CovCenter Doctor            
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/add/covidcenter/doctor">Add Cov Center Doctor </a></li>
            <li><a class="dropdown-item" routerLink="/covidcenter/doctor">View Covid Center Doctor </a></li>
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CovCenter Patient            
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/add/covidcenter/patient">Add Cov Center Patient </a></li>
            <li><a class="dropdown-item" routerLink="/covidcenter/patients">View Covid Center Patient </a></li>
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>
       
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet />
